<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmengxy.base" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SENSOR_INFO" />
    <uses-permission android:name="android.permission.SENSOR_ENABLE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application>
        <service android:name="com.skybeacon.sdk.locate.BleScanService" />
        <service android:name="com.skybeacon.sdk.config.BluetoothLeService" />
    </application>
</manifest>
